<div id="new-gallery-form">
  <%= form_for @new_gallery do |f| %>
    <%= f.hidden_field :user_id, :value => user.id %>
    <table border="0">
      <tr class="field">
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :description %></td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr class="field">
        <td></td>
        <td><div style="float: right;"><%= f.submit "Create New Gallery" %></div></td>
      </tr>
    </table>
  <% end %>
</div>
